themes {
  github-dark-high-contrast {
    fg "#f0f3f6"
    bg "#0a0c10"
    black "#0a0c10"
    red "#ff9492"
    green "#7fb4f9"
    yellow "#f0b72f"
    blue "#71b7ff"
    magenta "#cb9eff"
    cyan "#39c5cf"
    white "#d9dee3"
    orange "#e68c2e"
  }
}
